body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('background.JPG');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    scroll-behavior: smooth;
}

header {
    top: 0;
    left: 0;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
    position: relative;
    display: flex;
    color: #3f3f3f;
}

.logo {
    background-color: none;
    border: 1px solid #3f3f3f;
    padding: 10px 10px;
}

.nav-links {
    top: 0;
    position: fixed;
    justify-content: space-between;
    padding: 20px 10px;
    align-items: center;
    display: flex;
    position: relative;
}

.nav-links li {
    display: inline-block;
    padding: 0px 15px;
}

.nav-links li a{
    padding: 10px 10px;
    border-radius: 15px 15px;
    border: 1px solid #4C4D56;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: #3f3f3f;
    background-color: white;
}

.nav-links li a:hover{
    color: #ffffff;
    transform: scale(1.05);
    border: 1px solid #3f3f3f;
    border-radius: 15px 15px;
    background-color: #3f3f3f;
}

.parallax-section {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.parallax-content {
    position: relative;
    text-align: center;
    color: #3f3f3f;
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
}

.sectionid {
    top: none;
    display: block;
    font-size: 6vw;
    white-space: nowrap;
}

.sectionid:hover {
    color: #adadad;
    transform: scale(1.2);
    transition: all 0.4s;
    transition-timing-function: all 0.4s;
    content: '';
}

.sectionid:after {
    transform: scale(1.2);
    transition: all 0.4s;
    opacity: 0;
}

.logo-name {
    color: #3f3f3f;
    opacity: 0;
    transform: scale(2.5);
    transition: all 0.4s;
}

.logo:hover .logo-name {
    opacity: 1;
    transform: scale(2.5);
    transition: all 0.4s;
}

.text-only {
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #4C4D56;
}

.text-only p {
    top: 0;
    left: 10pt;
    font-size: 7vw;
    position: absolute;
    display: fixed;
}

.my-portfolio p {
    font-size: 10pt;
    right: 10;
    position: relative;
}

.text-only2 {
    position: relative;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #4C4D56;
}

.text-only2 p {
    top: 0;
    right: 10pt;
    font-size: 7vw;
    position: absolute;
    display: fixed;
}

.text-only3 {
    position: relative;
    text-align: center;
    color: rgb(0, 0, 0);
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #D5D4D4;
}

.text-only3 p {
    top: 0;
    font-size: 7vw;
    position: relative;
    display: fixed;
}

/* footer */

footer {
    background-color: #D5D4D4;
    color: rgb(0, 0, 0);
    padding: 25px;
    font-size: 1vw;
}

footer ul {
    gap: 5px;
}

footer .details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 29%;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

footer .details h3 {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
}

footer .centred-detail {
    cursor: pointer;
    text-decoration: none;
}

footer .details .centred-detail .end-detail {
    position: fixed;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}